<div id="{{id}}" class="order">
	<div class="orderHeader">
		<div>
			ordine effettuato il:
		</div>
		<div>
			totale:
		</div>
		<div>
			ordine numero:
		</div>
	</div>
	<div class="orderProduct">
		<div class="leftColumn">
			<div class="orderProductHeader">
				<b>consegnato il</b>
			</div>
			<div class="orderProductBody">
				<div class="leftColumn">
					<div>img</div>
				</div>
				<div class="rightColumn">
					<div>descrizione {{order.products[0]}}</div>
					<div>vedi articolo</div>
				</div>
			</div>

		</div>
		<div class="rightColumn">
			<div>
				<div>traccia</div>
				<div>restituisci</div>
			</div>
		</div>
	</div>
	<div class="orderFooter"></div>
</div>
