{% set cartProd = cartProd|length %}
{% extends "base.html.twig" %}
{% block javascripts %}
	<script src="scripts/searchFeature.js"></script>
	<script src="scripts/addToCart.js"></script>
{% endblock %}

{% block body %}
	
	<h1 class="fw-bold ">Prodotti</h1>
	<div class="px-5">
		<div class="cerca mx-4 px-4">
			<div class="col">
				<input oninput="handleSearch(this)" type="text" class="form-control" placeholder="Cerca Prodotto" aria-label="First name">
			</div>
			<div class="dropdown mx-2">
				<button class="btn btn-secondary dropdown-toggle bg-success border border-success" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					Categoria
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<span class="dropdown-item" role="button" onclick="handleCategory(this)">Tutto</span>
					<li><hr class="dropdown-divider"></li>
					{% for category in categories %}
						<span class="dropdown-item" role="button" onclick="handleCategory(this)">{{category.categoria|capitalize}}</span>
					{% endfor %}
					
				</div>
			</div>
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle bg-success border border-success" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					Prezzo
				</button>
				<ul class="dropdown-menu">
					<li><span class="dropdown-item" role="button" onclick="handleSort(this)">Tutto</span></li>
					<li><hr class="dropdown-divider"></li>
					<li><span class="dropdown-item" role="button" onclick="handleSort(this)">In ordine crescente</span></li>
					<li><span class="dropdown-item" role="button" onclick="handleSort(this)">In ordine decrescente</span></li>
					<li><hr class="dropdown-divider"></li>
					<li><span class="dropdown-item" role="button" onclick="handlePrice(this)" >0€ - 50€</span></li>
					<li><span class="dropdown-item" role="button" onclick="handlePrice(this)">50€ - 100€</span></li>
					<li><span class="dropdown-item" role="button" onclick="handlePrice(this)">100€ - &#8734;</span></li>
				</ul>
			</div>
		</div>

		<div class="products px-5">
			<ul class="list-group">
				{% for product in products %}
					{% include '/components/prodotto.html.twig' with {
										id: product.id,
				                        img: product.imagePath, 
				                        nome: product.nome, 
				                        prezzo: product.prezzo,
										descrizione: product.descrizione,
										categoria: product.categoria
				                    } %}
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %} 