* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 150px;

}
.navbar {
    grid-row: 1/2;
}

.wrapper {
    grid-row: 2/3;
}

.navbar-nav .nav-link:hover {
    color: #fff;
    transition: all .3s ease-in;
}

.navbar-nav .nav-link {
    color: #ddd;
}

a.active {
    color: #fff !important;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    position: relative;
}

.cerca {
    display: flex;
}

h1 {
    color: #227e00;
    margin: 20px;
    text-align: center;
}

.products {
    margin: 20px 0;
}

.custom {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    margin-top: 10px;
    min-height: 200px;
}

.txt {
    justify-self: self-start;
    align-self: center;
}

.name {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.name>h3 {
    font-size: 1.2vw;   
    margin: 0;
}

.acquisto { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}



a>i.badge {
    color: #ddd;
}

a>i.badge:hover {
    color: #fff;
    transition: all .3s ease-in;
}

a.active>i.badge {
    color: #fff;
}

.badge:after {
    background: red;
    border-radius: 50%;
    content: attr(value);
    font-family: system-ui;
    font-size: 12px;
    left: -8px;
    padding: 3px 6px;
    position: relative;
    top: -15px;
}

.checkout {
    width: 40%;
    display: flex;
    justify-content: end;
} 

.recap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nprod{
    display: flex;
    justify-content: end;
}


.lh-condensed { line-height: 1.25; }

.qtn {
    display: flex;
    align-items: center;
    gap: 3rem;
}



input[type=number] {
    appearance: textfield;
    width: 20px;
    border: none;
    text-align: center;
    border: 1px solid green;
    width: 3rem;
}

input[type=number]:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.tot{
    display: flex;
    justify-content: space-between;
}

.checkoutbtn {
    display: flex;
    justify-content: end;
}
.morris-hover.morris-default-style {
    font-size: 1em;
    background-image: radial-gradient(circle, #00c6fc, #00b6e7, #00a6d3, #0096bf, #0087ab);
    border: none;
    color: #1D1D35;
    font-weight: bold;
}
.morris-hover-point {
    color: #1D1D35 !important;
}

.gr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}
.gr > form {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.noprod {
    display: flex;
    justify-content: center;
    background-image: url("../imgs/minimalist-background-gradient-design-style_483537-2985.jpg");
    background-size: cover;
}
.cart {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
    /* border: 1px solid #000; */
    border-radius: 0.375rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    margin-bottom: 2rem;
    padding: 1rem;
}
   
.cart a {
    text-decoration: none;
    color: #fff;
}

#carosello {
    width: 30%;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -80%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}