* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #fff;
    transition: all .3s ease-in;
}

.navbar-nav .nav-link {
    color: #ddd;
}

a.active {
    color: #fff !important;
}

.footer {
    background-color: #333;
    bottom: 0;
    color: #fff;
    height: 150px;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

.cerca {
    display: flex;
}

h1 {
    color: #227e00;
    margin: 20px;
    text-align: center;
}

.products {
    margin: 20px 0;
}

.custom {
    align-items: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    min-height: 200px;
}

.txt {
    width: 50%;
}

.name {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    
}

.name>h3 {
    font-size: 1.2vw;
}

.acquisto {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.acquisto>button {
    margin-top: 1rem;
}

a>i.badge {
    color: #ddd;
}

a>i.badge:hover {
    color: #fff;
    transition: all .3s ease-in;
}

a.active>i.badge {
    color: #fff;
}

.badge:after {
    background: red;
    border-radius: 50%;
    content: attr(value);
    font-family: system-ui;
    font-size: 12px;
    left: -8px;
    padding: 3px 6px;
    position: relative;
    top: -15px;
}

.checkout {
    width: 40%;
    display: flex;
    justify-content: end;
} 

.recap {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.nprod{
    display: flex;
    justify-content: end;
}


.lh-condensed { line-height: 1.25; }

.qtn {
    display: flex;
    align-items: center;
    gap: 3rem;
}



input[type=number] {
    appearance: textfield;
    width: 20px;
    border: none;
    text-align: center;
    border: 1px solid green;
    width: 3rem;
}

input[type=number]:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.barchart{
    background-color: lightblue; 
  }